.app {
    display: grid;
    grid-template-columns: 600px auto;
}

.page {
    
    max-width: 1200px;
    margin: 0 auto;
}

.layout {
    min-height: 100svh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: white;
}

.stageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.stage {
    // border: 2px solid green;
    width: 540px;
    height: 540px;
    overflow: hidden;
    background-color: white;

    > * {
        
        // border: 2px solid red;
        margin: 0 auto;
    }
}

.options {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    z-index: 10;

}

.optionsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 10;
    gap: .5rem;
}

.previewImageContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.previewImage {
    width: 100%;
    height: auto;
}

.optionButton {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e0e0e0;
    }
}

.accordion {
    margin-bottom: 1rem;
}

.accordionHeader {
    width: 100%;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeaderClosed {
    &::after {
        content: '+';
    }
}

.accordionHeaderOpen {
    &::after {
        content: '-';
    }
}

.open {

}

.closed {
    display: none;
}