.app {
    display: grid;
    grid-template-columns: 600px auto;
    max-width: 1200px;
    margin: 0 auto;
}

.stage {
    // border: 2px solid green;

    > * {
        
        // border: 2px solid red;
        margin: 0 auto;
    }
}

.options {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    z-index: 10;

}

.optionsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 10;
}

.previewImage {
    width: 100px;
    height: auto;
}

.optionButton {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e0e0e0;
    }
}

.open {

}

.closed {
    display: none;
}